// ---------<backgrounds>-------------
$body-bg: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
$btn-primary-bg: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
$main-cards-bg: rgba(255, 255, 255, 0.1);
$transparent-btn-bg:rgba(255, 255, 255, 0.5);
// -------</backgrounds>---------------


// --------<text_colors>---------
$main-color:rgba(255, 255, 255, 0.5);
//  => half white
$purple-text-color: rgba(183, 92, 255, 1);
//  => purple text
$just-white: #fff;
// ---------</text_colors>--------


// --------<shadows>---------
$box-shadow: rgba(0, 0, 0, 0.25);
// --------</shadows>-------